{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="{% static "/styles.css" %}">
    <link rel="icon" href="static/img/casita.png">
    <title>APP Sodimac belloto.com</title>
</head>
<body>
    <h1>APP Sodimac Belloto.com</h1>
    <li>
        <a href="{% url 'enlace1' %}" target="_blank"><button>Descarga nuestra APP Sodimac</button></a>
        <a href="{% url 'enlace2' %}" target="_blank"><button>Unete a Nuestros Clientes CMR!!!</button></a>
        <a href="{% url 'enlace3' %}" target="_blank"><button>Incribete en nuestro Circulo de especialistas</button></a>
    </li>
</body>
</html>