{% load static %}
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="icon" href="/APPSODI/static/img/casita.png">
    <title>APP Sodimac belloto.com</title>
</head>
<body>
    <h1>APP Sodimac Belloto.com</h1>
    <li>
        <a href="{% url 'enlace1' %}"><button>Descarga nuestra APP Sodimac</button></a>
        <a href="{% url 'enlace2' %}"><button>Incribete en nuestro Circulo de especialistas</button></a>
        <a href="{% url 'enlace3' %}"><button>Unete a Nuestros Clientes CMR!!!</button></a>
    </li>
</body>
</html>