*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    height: 100%;
    width: 100%;
    background-image:url(img/casa.png);
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    min-height: 100vh;
}
li {
    text-align: center;
    width: 100%;
}
.content{
    display: block;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.a.BTN {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.BTN:hover {
    background-color: #0056b3;
}